
.container{
	display: flex;	
	width: 100%;
	flex-wrap: wrap;
	margin-left: 50px;
	margin-right: 50px;
  
}



@media screen and (min-width: 441px) {
h1 {
	flex-basis: 100%;
	justify-content: flex-start;
	margin-left: 10px;
}
}
@media screen and (max-width: 440px) {
h1 {
    flex-basis: 100%;
	text-align: center;
	margin-right: 30px;
}
}



@media screen and (min-width: 1000px) {
.box {
width: 17%;
border-radius: 4%;
margin: 10px;
}
.p{
	margin-right:80px;
	font-size: 18px;
	font-family: sans-serif;
}

}
 
@media (max-width: 999px) {
.box{
width: 26%;
border-radius: 4%;
margin: 10px;
}
.text{
	text-align: center;
	width: auto;
	margin-top: 7px;
	height: 4px;	
}

.p{
	margin-right: 120px;
	font-family: sans-serif;
    margin-right: 60px;
	margin-left: 0px;
    overflow-wrap: break-word
   
}
}
 
@media screen and (max-width: 440px) {
.box {
width: 100%;
border-radius: 4%;
margin: 10px;
margin-right: 60px;
}

}

.img{
	background-color:  aqua;
	background-image: url("placeholder-image.png");
	background-size: contain;
	background-position: center;
	width: auto;
	height: 120px;
	border-radius: 5px;
    
}

.text{
	text-align: center;
	width: auto;
	margin-top: 7px;
	height: 4px;	
}

